<%= form_for @task, remote: true, class: 'ui form' do |t| %>
       <div class="two fields">
        <div class="required field">
         <strong> <%= t.label :title %>:</strong>
          <%=t.text_field :title %>
        </div><br />

          <div class="field">
           <strong><%= t.label :priority %>:</strong>
            <em style="color:red;">Highest</em> <%=t.range_field :priority, in: 1..10 %> <em style="color:green;">Lowest</em>
          </div><br />
       </div>
          <div class="field">
            <strong><%= t.label :due_date %>:</strong>
            <%=t.datetime_field :due_date %>
       </div><br />

          <div class="field">
           <strong> <%= t.label :description %>:</strong>
            <%=t.text_area :description%>
          </div><br />
  <div class="actions">
    <%= link_to 'Cancel', tasks_path, class: 'ui basic negative button' %>
    <%= t.submit class: 'ui basic positive button', remote: true %>
  </div>
<%end%>

<script>
    $('.ui.form')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a task title'
                        }
                    ]
                }
            }})
    ;
</script>
