<br>


<div class="ui container">

  <table class="ui celled table">
  <thead>
    <tr><th>Title:</th>
    <th>Priority:</th>
    <th>Description:</th>
    <th>Created By:</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
       <%= @task.title %>
      </td>
      <td><%= @task.priority %></td>
      <td><%= @task.description %></td>
      <td><%= @task.user.display_name %></td>
    </tr>

  </tbody>
</table>


<br>
<div class="ui buttons">
<%= link_to 'Edit', edit_task_path(@task), class: 'ui secondary button' %>
<div class="or"></div>
<%= link_to 'All Tasks', tasks_path, class: 'ui button' %>
</div>
</div>
