<!doctype html>
<html>
<head>
  <title>Swiftly</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Lato|Lora|Raleway" rel="stylesheet">
  <script src="https://use.fontawesome.com/270c98753c.js"></script>
</head>

<body>
<div class="ui container">
  <%=render 'layouts/user_header'%>
  <br />
  <br />
  <%if !flash[:notice].blank? %>
      <div class="notice">
        <p class="ui positive message"><%= flash[:notice]%></p>
      </div>
  <%end%>
  <br />
  <%if !flash[:error].blank? %>
      <div class="error">
        <p class="ui negative message">
          <%= flash[:error]%></p>
      </div>
  <%end%>
  <br />
  <%= yield %>
</div></div>
<br />
<%= debug(params) if Rails.env.development? %>
<%= render 'layouts/footer' %>
</body>
</html>
